<h1 class="cover-heading">Welcome to Wine Tracker for Colorado!</h1>
<p class="lead">Eventually this page will allow you to do a few things:</p>
<p class="lead">write your own tasting notes for Colorado wine</p>
<p class="lead">list of Colorado wineries with ratings from yelp</p>
<p class="lead">list of Colorado wines with average ratings</p>
