<h1 class="cover-heading">Welcome to Wine Tracker for Colorado!</h1>
<p class="lead">Eventually this page will allow you to do a few things:</p>
<p class="lead">rate and write your own tasting notes for Colorado wine</p>
<p class="lead">find a list of Colorado wineries and tasting rooms</p>
<p class="lead">get an alert when your favorite wines go on sale</p>
