<h1 class="cover-heading">Welcome to Wine Tracker!</h1>
<p class="lead">Eventually this page will allow you to track a few things:</p>
<p>what wines you liked and what you didn't</p>
<p>perhaps why (if you really feel like digging that far into it - no pressure!)</p>
<p>learn some wine label basics</p>
<p class="lead">
  <a href="#" class="btn btn-lg btn-default">Learn more</a>
</p>
