<div class="page-header text-left">
  <h1>How to taste wine?</h1>
</div>

<p class="lead">
  Tasting wine can be as simple or complicated as you like.<br/>
  I like to start with a simple rating system such as 1-5 stars.  Then if I'm feeling up to it, I'll
  expand into something more complicated like the section below.
</p>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">Sight</h2>
      </div>
      <div class="panel-body">
        <p>What does the wine look like? Let's focus on the depth, hue, and clarity.</p>
        <ol>
          <li>Color Depth:</li>
            <ul>
              <li>watery</li>
              <li>light</li>
              <li>medium</li>
              <li>deep</li>
              <li>dark</li>
            </ul>
            <br/>
          <li>Color Hue:</li>
            <div class="table-responsive">
              <table class="table">
                <head>
                  <tr>
                    <td>
                      White:
                    </td>
                    <td>
                      Red:
                    </td>
                    <td>
                      Rose:
                    </td>
                  </tr>
                </head>
                <tbody>
                  <tr>
                    <td>
                      <p>greenish</p>
                      <p>yellow</p>
                      <p>straw yellow</p>
                      <p>gold</p>
                      <p>amber</p>
                    </td>
                    <td>
                      <p>purple</p>
                      <p>ruby</p>
                      <p>red</p>
                      <p>redish-orange</p>
                      <p>brown</p>
                    </td>
                    <td>
                      <p>pink</p>
                      <p>salmon</p>
                      <p>orange</p>
                      <p>copper</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          <li>Clarity:</li>
            <ul>
              <li>clear</li>
              <li>sight haze</li>
              <li>cloudy</li>
            </ul>
          </ol>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">Smell</h2>
      </div>
      <div class="panel-body">
        <ol>
          <li>Clean:</li>
            <ul>
              <li>
                yes
              </li>
              <li>
                no
              </li>
            </ul>
          <li>Intensity:</li>
            <ul>
              <li>low</li>
              <li>
                medium
              </li>
              <li>
                powerful
              </li>
            </ul>
          <li>Maturity:</li>
            <ul>
              <li>
                young
              </li>
              <li>
                some age
              </li>
              <li>
                aged
              </li>
            </ul>
          <li>List Aromas:</li>
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <p>floral</p>
                    <p>citrus</p>
                    <p>stone fruit</p>
                    <p>herbaceous or bell pepper</p>
                    <p>aromatic</p>
                    <p>buttery</p>
                    <p>grassy</p>
                  </td>
                  <td>
                    <p>berries or dark fruit</p>
                    <p>spicy</p>
                    <p>earthy</p>
                    <p>complex</p>
                    <p>aged</p>
                    <p>oak</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ol>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">Taste</h2>
      </div>
      <div class="panel-body">
        <ol>
          <li>Dry / Sweet:</li>
          <ul>
            <li>extremely dry</li>
            <li>dry</li>
            <li>off dry</li>
            <li>medium sweet</li>
            <li>sweet</li>
            <li>very sweet</li>
          </ul>
          <li>Body:</li>
          <ul>
            <li>very light</li>
            <li>light</li>
            <li>medium</li>
            <li>medium-full</li>
            <li>full-bodied</li>
            <li>heavy or thick</li>
          </ul>
          <li>Acid Level:</li>
          <ul>
            <li>tart</li>
            <li>crisp</li>
            <li>smooth</li>
            <li>none</li>
          </ul>
          <li>Tannins (if any):</li>
          <ul>
            <li>Level - low, medium, or high</li>
            <li>Type - soft, round, dry, or abrasive</li>
          </ul>
          <li>Balance:</li>
          <ul>
            <li>good</li>
            <li>okay</li>
            <li>unbalanced</li>
            <p>
              If unbalanced, why? Too much alcohol, acid, tannin, and/or sugar?
            </p>
          </ul>
          <li>Flavors:</li>
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <p>jammy</p>
                    <p>citrus</p>
                    <p>stone fruit</p>
                    <p>herbaceous or bell pepper</p>
                    <p>creamy</p>
                    <p>buttery</p>
                    <p>chocolate</p>
                  </td>
                  <td>
                    <p>berries or dark fruit</p>
                    <p>spicy</p>
                    <p>earthy</p>
                    <p>complex</p>
                    <p>aged</p>
                    <p>oak</p>
                    <p>and more!</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <li>Finish:</li>
          <ul>
            <li>short/none</li>
            <li>medium</li>
            <li>long</li>
            <li>very long</li>
          </ul>
        </ol>
      </div>
    </div>
  </div>
</div>
