<!--
How to taste wine?

<p>
  Tasting wine can be as simple or complicated as you like.
  I like to start with a simple rating system and expand into something more
  complicated if I'm feeling up to it.
</p>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Sight</h2>
      </div>
      <div class="panel-body">
      Color Depth:
        <p>watery</p>
        <p>pght</p>
        <p>medium</p>
        <p>deep</p>
        <p>dark</p>
      Color Hue:
      <br/>
      <table>
        <head>
          <tr>
            <td>
              White:
            </td>
            <td>
              Red:
            </td>
            <td>
              Rose:
            </td>
          </tr>
        </head>
        <tbody>
          <tr>
            <td>
              <p>greenish</p>
              <p>yellow</p>
              <p>straw yellow</p>
              <p>gold</p>
              <p>amber</p>
            </td>
            <td>
              <p>purple</p>
              <p>ruby</p>
              <p>red</p>
              <p>redish-orange</p>
              <p>brown</p>
            </td>
            <td>
              <p>pink</p>
              <p>salmon</p>
              <p>orange</p>
              <p>copper</p>
            </td>
          </tr>
        </tbody>
      </table>
      Clarity:
        <p>clear</p>
        <p>spght haze</p>
        <p>cloudy</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Smell</h2>
      </div>
      <div class="panel-body">
        Clean:
        <p>
          yes
        </p>
        <p>
          no
        </p>
        Intensity:
        <p>low</p>
        <p>
          medium
        </p>
        <p>
          powerful
        </p>
        Maturity:
        <p>
          young
        </p>
        <p>
          some age
        </p>
        <p>
          aged
        </p>
        List Aromas
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Taste</h2>
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>
-->
