@import "bootstrap-sprockets";
@import "bootstrap";

*, *:before, *:after {
  box-sizing: border-box;
}

html,
  body {
    height: 100%;
//    background-color: #333;
//    color: #fff;
      text-align: center;
//    text-shadow: 0 1px 3px rgba(0,0,0,.5);
//    padding: 0;
//    margin: 0;
}


a,
a:focus,
a:hover {
  color: #428bca;
}

.navbar {
  margin-bottom: 0;
}

.navbar-nav {
  float: none;
}

div.page-header.left {
  text-align: left;
}

div.text-left {
  text-align: left;
}

.footer {
  div {
    display: inline-block;
  }

  img {
    height: 20px;
  }
}

.panel {
  background-color: transparent;
}

div.panel-body {
  text-align: left;
}

img.img-responsive.img-thumbnail {
  max-width: 20%
}

div.index-col-1, div.index-col-2 {
  width:50%;
  float: left;
  text-align: left;
}

div.index-wrap {
  overflow: hidden;
  clear: both;
}

h1.cover-heading {
  padding: 3%;
  margin-top: 0px;
}
.perks {
  padding-bottom: 2%;
}
.about-header {
  border-bottom: 1px solid #eeeeee;
}
